@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.auth-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #1abc9c;
    display: grid;
    place-items: center;
    height: 100vh;
}

.auth-wrapper {
    width: 100%;
    max-width: 440px;
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px 25px 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.auth-wrapper .title {
    line-height: 80px;
    background: #16a085;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin: -30px -20px 20px -20px; /* Ajuste para que el título ocupe el espacio superior */
}

.auth-wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.auth-wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

.auth-wrapper form .row input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

.auth-wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-wrapper form .pass {
    margin: -8px 0 20px 0;
}

.auth-wrapper form .pass a {
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.auth-wrapper form .pass a:hover {
    text-decoration: underline;
}

.auth-wrapper form .button input,
.auth-wrapper form .button button {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
    border-radius: 5px;
}

.auth-wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
}

.auth-wrapper form .signup-link a {
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.auth-wrapper form .signup-link a:hover {
    text-decoration: underline;
}